--continue
-Ptest_suite=$TEST_SUITE
-Dtest_centrum_host=172.20.0.160
-Dtest_retail_host=172.20.0.161
-Dtest_virtualshop_number=20160
-Dtest_shop_number=20161
-Dtest_os_type=UNIX
-Dtest_virtual_cash_ip=172.20.0.162
-Dtest_virtual_cash_number=60
-Dtest_cash_ip=172.20.0.163
-Dtest_cash_number=61
-Dtest_robot_tests=$TEST_LIST
-Dtest_smb_username=jboss
-Dtest_smb_password=jboss
-Dtest_smb_server_standalone=/jboss/standalone/
-Dtest_smb_server_fileimport=/jboss/
-Dtest_os_username=root
-Dtest_os_password=324012